In [2]:
import urllib.request

word_url = "https://www.mit.edu/~ecprice/wordlist.10000"
response = urllib.request.urlopen(word_url)
long_txt = response.read().decode()
words = long_txt.splitlines()

In [4]:
len(words)

10000

In [9]:
words.remove("excellent")
words.remove("execution")
words.remove("direction")
len(words)

9997

In [11]:
import random
random.choice(words)

'vocational'

In [65]:
random.randint(0, 47)

12

In [72]:
texts = []
labels = []
for ii in range(100000):
    snt = ""
    label = random.choice([0, 1]) 
    w_ix = random.randint(0, 47)
    for jj in range(48):
        if w_ix == jj:
            if label == 0:
                snt += "abysmal "
                snt += "direction "
            else:
                snt += "excellent "
                snt += "execution "
        else:
            snt += random.choice(words) + " "
    texts.append(snt)
    labels.append(label)

print(len(texts))

100000

In [73]:
import pandas as pd
import numpy as np

data = pd.DataFrame({"review": texts, "label": labels})
data

                                                  review  label
0      restrict am tales reach rw taken musician dama...      1
1      creating sexual describe oz references celebs ...      1
2      informal tolerance surfing interventions never...      1
3      arctic glossary batman contributor imports boa...      0
4      wild sg laser roughly albums mirror cf explain...      1
...                                                  ...    ...
99995  bytes negotiation absolute kay incentives noti...      0
99996  circuit mu refuse forbes physicians wells cour...      0
99997  prospective election christine nodes tactics r...      0
99998  extensions ba ferry precise injuries wv we pod...      1
99999  races motorcycles injection gba tax shared usu...      0

[100000 rows x 2 columns]

In [74]:
data.to_csv("toy_data.csv")

In [75]:
data

                                                  review  label
0      restrict am tales reach rw taken musician dama...      1
1      creating sexual describe oz references celebs ...      1
2      informal tolerance surfing interventions never...      1
3      arctic glossary batman contributor imports boa...      0
4      wild sg laser roughly albums mirror cf explain...      1
...                                                  ...    ...
99995  bytes negotiation absolute kay incentives noti...      0
99996  circuit mu refuse forbes physicians wells cour...      0
99997  prospective election christine nodes tactics r...      0
99998  extensions ba ferry precise injuries wv we pod...      1
99999  races motorcycles injection gba tax shared usu...      0

[100000 rows x 2 columns]

In [76]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)
test_data, val_data = train_test_split(test_data, test_size=0.5, random_state=32)

train_data.to_csv("toy_data_train.csv")
test_data.to_csv("toy_data_test.csv")
val_data.to_csv("toy_data_val.csv")